@import "tailwindcss";

@theme {
  /* Don't change this Color and Font Section  */
  /* Colors */
  --color-primary: #01ff70;
  --color-secondary: #98050b;
  --color-secondary-text: #1d1c1c;

  /* Fonts */
  --font-inter: var(--font-inter);
  --font-open-sans: var(--font-open-sans);
  /* Don't change this Color and Font Section */
}

.hero-section-bg-overlay-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(33, 69, 33, 1) 2%,
    rgba(21, 92, 21, 0) 68%
  );
}

/* Scrollbar-hide class */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .container-box {
    @apply max-w-[1440px] w-full mx-auto px-4 sm:px-8 md:px-12 lg:px-16 2xl:px-0;
  }
  .text-20px {
    @apply text-base md:text-lg lg:text-xl;
  }
}
